pandas
requests
fastapi
uvicorn[standard]
gunicorn
python-multipart
aiohttp
# optional for development
pytest
black
isort
sqlalchemy
matplotlib
httpx
sentence-transformers
chromadb
tf-keras
streamlit
protobuf==3.20.3
